<html>
    <head>
        <title>PayQR </title>
        <script language="javascript">
            function moveClose() {
              opener.location.href="cafe_home.html";
              self.close();
            }
            </script>
    </head>
    <body>
        <!--pop up-->
        <div id="QRpopup">
            <div id = "QRmenu">
                <p> qr이미지 넣기</p>>
                
             </div>
        </div>
        <input type="button" value="결제완료" onclick="moveClose();" />




         <script src="assets/js/jquery.min.js"></script>
         <script src="assets/js/browser.min.js"></script>
         <script src="assets/js/breakpoints.min.js"></script>
         <script src="assets/js/util.js"></script>
         <script src="assets/js/main.js"></script>
        </body>

</html>
